.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 50px;
}
@media (max-width:600px){
    .signup{
        flex-direction: column;  
    }

}

.signupImage {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}



.signupImage img {
    width: 100%; 
    height: 100%;
    max-width: 400px; 
    max-height: 550px; 
}

.option div{
    border: 1px solid blue;
    height: 30px;
    width: 100px;
}
.option{
    display: flex;
    gap: 100px;
}
.button button{
   background-color: rgb(13, 146, 223);
    width: 100%;

    color: white;
}
.signupForm .one{
        width: 100%; 
    height: 100%;
    max-width: 400px; 
     max-height: 550px;
 
  
}
.signupForm{
     flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  
}
.input-container {
  position: relative;
  margin: 20px 0;


}
.inputs{
    display: flex;
    gap: auto;
}
.pass{
    position: relative;
}
.checkbox{

display: flex;
gap: auto;
}
p span{
    color:  red;
}
.checkbox input{
    width: auto;
}
.pass{
    display: flex;
    /* flex-direction: column;  */
    margin: 20px 0;
    
}
.pass input{
    padding: 5px 5px 5px 20px; /* Adjust padding for label space */
  border: 1px solid #838080; /* Regular border */
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  width: 100%;
 
}

input {
 
  padding: 5px 5px 5px 20px; /* Adjust padding for label space */
  border: 1px solid #838080; /* Regular border */
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff; /* Background color of the input */
}

label {
  position: absolute;
  
  left: 10px;
  top: -0.5px; /* Positioning on the border */
  background-color: #fff;/* Same as input background */
  padding: 0 5px; /* Some padding for aesthetics */
  font-size: 14px; /* Smaller font size */
  color: black; /* Label color */
  pointer-events: none; /* Prevents label from capturing clicks */
  margin-top: -12px; /* Pull label up to hide border */
}


